{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
    <form action="/sell" method="post">
        <select name="symbol" class="form-select form-control" aria-label="Default select">
                <option value="">Select a symbol</option>
                {% for stock in stocks %}
                <option value = "{{ stock.stock_symbol }}"> {{ stock.stock_symbol }} </option>
                {% endfor %}
        </select>


            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="shares" placeholder="No of Shares" type="number" min="1">

        <button class="btn btn-primary" type="submit">Sell</button>
    </form>
{% endblock %}
